[Unit]
Description=JVSCore Device Driver Service

[Service]
User=root
Type=simple
Restart=always
RestartSec=10
StartLimitIntervalSec=0
ExecStart=/usr/bin/jvscore

[Install]
WantedBy=multi-user.target